html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* { box-sizing: border-box; }
.main-section {
  width: 100%;
  height: 600%;
  position: absolute;
  top: 100px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}
.nav-ul { height: 100px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.header-shell { width: 990px; height: 100px; margin: auto; }
.header-container {position: fixed; top: 0; left: 0; right: 0; z-index: 99999;}
.nav-ul li {display: inline-block; width: 49%; padding: 30px 0; }
.nav-ul li span {display: block;}
.nav-ul li span.small {color: white; font-size: 18px; font-family: 'Fredra', sans-serif; font-weight: 700; text-shadow: 1px 3px 1px #000;  vertical-align:center; }
.nav-ul li span.office-name {color: white; font-size: 24px; font-family: 'Fredra', sans-serif; font-weight: 700; text-shadow: 1px 3px 1px #000;  vertical-align:center; }
.nav-ul li span.header-text-left {text-align:left; }
.nav-ul li span.header-text-right {text-align:right; }
.maincontainer {width: 990px; margin: 0 auto; position: relative; }
.main-content {width: 990px; margin: 0 0 0; padding: 5px 0 0 0; clear: both; }
.main-content .left { width: 719px; height: auto; margin:0; float: left;}
.banner-box { border: #eaeaeb 1px solid; clear: both; overflow: hidden; padding: 10px 12px 10px 10px; background-color: #fff; }

.introduction { width: 100%; height: auto; clear: both; overflow: hidden; margin-bottom: 30px;}
.introduction .picbox { float: left; width: 30%; }
img.self-pic {border: none;}
.introduction .box {float: left;
              width: 70%;
              margin: 20px 0 0 0;
              padding-left: 10px;}
.titlebox {width: auto;
          height: auto;
          clear: both;
          overflow: hidden;}
.title_right {min-height: 48px;
            border-bottom: 1px solid #cacaca;
            background: -webkit-linear-gradient(#f9f8f8, #e3e0e0);
            background: -o-linear-gradient(#f9f8f8, #e3e0e0);
            background: -moz-linear-gradient(#f9f8f8, #e3e0e0);
            background: linear-gradient(#f9f8f8, #e3e0e0);
            font-size: 25px;
            color: #3c3b3b;
            padding: 10px 10px 0 20px;
            float: left;
            position: relative;}
.welcome-sentence {width: 360px;
          color: #3c3b3b;
          font-size: 25px;
          clear: both;}
.welcome-sentence h4 {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.title_right:after {content: '';
                  position: absolute;
                  width: 23px;
                  height: 48px;
                  position: absolute;
                  right: -23px;
                  top: 0;}
.introduction h5 {color: #ff0000 !important;
            text-transform: uppercase;
            padding-top: 15px;
            line-height: 12px;
            display: block;
              font-size: 1em;
              -webkit-margin-before: 1.67em;
              -webkit-margin-after: 1.67em;
              -webkit-margin-start: 0px;
              -webkit-margin-end: 0px;
              font-weight: bold;}
p {padding-bottom: 10px; display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;}

.main-content .right {
                      width: 260px;
                      height: auto;
                      float: right;}
.contact_box {clear: both;
            overflow: hidden;
            font-size: 17px;
            color: #434343;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;}
.contact_box span {font-size: 24px;
                  color: #ff0000;
                  display: block;
                  font-weight: bold;
                  margin-top: 15px;
                  font-family: 'Fredra', sans-serif;
                }
p span {
      color: #666;
      background-color: inherit;}
.hours-box {width: 300px;
          background-color: #f7f6f6;
          clear: both;
          overflow: hidden;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: #e4dfdf 1px solid;
          margin-top: 12px;}
.hours-box .hours-shell {width: 280px;
                margin: 0 auto;
                padding: 0 0 27px 0;}
.hours-title {font-size: 18px;
      color: #26225f;
      font-weight: bold;
      text-align: center;
      line-height: 42px;
      text-transform: uppercase;
}
.weekday {background: url(images/border.png) repeat-x 0 0;
        padding: 0 15px 5px;
        clear: both;
        font-size: 13px;
        color: #434343;
        line-height: 33px;}
.weekday-name {
        float: left;}
.weekday span {
            color: #ff0000;
            text-transform: uppercase;
            float: right;}

.weekday span.hours-text {
                  color: #26225f !important;
                  float: right;
                  text-transform: none !important;
              }
p.introduction-p { font-family:  Helvetica, Arial,  sans-serif; color: #3b3b3b; font-size: 18px; line-height: 150%;}
.picbox img { border-radius: 50%; width: 205px; height: auto; }

.banner-box { box-shadow: 10px 10px 5px #888888;}
.welcome-sentence h4 { text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);}
.weekday { font-family: 'Fredra', sans-serif; font-size: 20px; }
.testimonials {width: 320px;
    clear: both;
    overflow: hidden;
    -moz-border-radius: 5px;
    margin-top: 12px;
  }

.testimonials-shell {width: 300px;
    margin: 0 auto;
    padding: 0 0 27px 0;
    margin-left: 20px;}
.testimonials-title {font-size: 18px;
    color: #26225f;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
}

.testimonials span {display:block; text-align: right;}
.testimonials { font-family: Helvetica, Arial,  sans-serif;
    color: #3b3b3b;
    font-size: 18px;
    line-height: 150%; }
.testimonials .highlight { color: #ff0000; font-size: 32px;}
.testimonials .office-number {font-size: 24px; }


.phone-header { display: none; }
.phone-header h2 { display: none; }
.nav-ul li span.small.location-header { font-size: 15px; }

@media only screen and (max-width: 768px) {
    .main-section {height: 300%;}
    .img-responsive {
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .main-content {
      width: 100%;
    }
    .main-content .left { width: 100%; }
    .maincontainer {width: 100%; }
    .introduction { width: 100%; }
    .introduction .box { width: auto; }
    .title_right { padding: 10px 5px 0 5px; }
    .welcome-sentence { width: 100%; }

    .main-content .right { width: 100%; }
    .f1 { float: left; width: 100%; }
    .hours-box { margin-top: 42px; width: 100%; }
    .nav-ul li span { font-size: 10px; }
    .header-shell {width: 100%; }

    .header-container { height: 30%; }
    .header-container .top-nav { height: 100%; }
    .header-container .top-nav .nav-ul { height: 100%; padding-bottom: 10px;  }
    .header-container .top-nav .nav-ul .header-shell { height: 100%; }
    .header-container .top-nav .nav-ul .header-shell .left-header,
    .header-container .top-nav .nav-ul .header-shell .right-header {
      width: 100%;
      padding: 10px;
    }
    .main-section { top: 30%; }

    .welcome-sentence h4 { text-shadow: none;}
    .nav-ul li span.small { text-shadow: none; font-size: 15px; }
    .nav-ul li span.office-name {  text-shadow: none; font-size: 20px; }
    .nav-ul li.phone-header { display: block;  width: 100%; padding: 0;}
    .phone-header h2 { display: block; color: red; width: 100%; font-size: 20px; text-align:center;  }
}

@media only screen and (max-width: 667px) {
  .nav-ul li span.small.location-header { font-size: 12px; }
}
.main-section { height: auto; }
.header-container { height: auto; }
